@font-face {
  font-family: "JetBrainsMonoNerdFontMono-Regular";
  src: url("/themes_custom/Nerd%20Fonts/nerd-fonts/reduced.JetBrainsMonoNerdFontMono-Regular.ttf");
}

* {
  font-family: "JetBrainsMonoNerdFontMono-Regular" !important;
}
